
                            <section class="education-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "education" }}</h3>

                                <div class="list-unstyled resume-education-list">
                                    {{ range .Site.Params.education.list }}
                                    <div class="item mb-3">
                                        <div class="item-heading row align-items-center mb-">
                                            <h4 class="item-title col-12 col-md-6 col-lg-12 mb-2 mb-md-0">{{ .degree }}</h4>
                                        </div>
                                        <div class="item-meta text-muted text-left, mb-2">{{ .university }} | {{ .dates }} | <b>Grade: {{ .grade }}</b>
                                        </div>
                                        <div class="item-content text-justify">
                                            <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>

                            </section><!--//education-section-->
