
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "languages" }}</h3>

                                <ul class="list-unstyled resume-lang-list item">
                                    {{ range .Site.Params.languages.list }}
                                    <li class="language mb-2">{{ .name }} <p class="text-muted">{{ .level }}</p></li>
                                    {{ end }}
                                </ul>

                            </section><!--//certificates-section-->
