
                            <section class="project-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "projects" }}</h3>

                                {{ range .Site.Params.projects.list }}
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ .title }}{{ if .ext_link }} <a href={{ .ext_link }}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                          </svg></i></a> {{ end }}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">{{ .meta }}</div>
                                    </div>
                                    <div class="item-meta text-muted text-left, mb-2">{{ .company }} | {{ .dates }}</div>
                                    <div class="item-content text-justify">
                                        <p>{{ .tagline }}</p>
                                    </div>
                                </div><!--//item-->
                                <div class="item-content text-justify">
                                    <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                                    <ul class="resume-list">
                                        {{ range .items }}
                                        <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                                        {{ end }}
                                    </ul>
                                </div>
                                {{ end }}

                            </section><!--//project-section-->
